body, html {
    height: 100%; /* Adjusted to 100% */
    width: 100%; /* Adjusted to 100% */
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chart-container {
    width: 100%; /* Adjusted to a percentage of the viewport width */
    max-width: 1200px; /* Adjusted to 500px maximum width */
    height: 600px;
    margin-top: 50px;
}

.title {
    text-align: center;
}

.summary-table th, .summary-table td {
    padding: 2px; /* Adjust padding as needed */
    border: 1px solid #ccc; /* Optional: adds a border to cells */
    
    text-align: center; /* Align text horizontally to the center */
    vertical-align: middle; /* Align content vertically to the middle */
        
}

.summary-table {
    width: 60%; /* Optional: sets the table width */
    margin-top: 10px; /* Optional: adds spacing above the table */
}
